# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/src/tmp/
/src/main

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Dependencies
vendor/
node_modules/

# Build
/build/
/dist/
/web/dist/
